.vscode
RESULT_VALGRIND.txt
src/s21_view_qt/SmartCalc2_0.pro.user
src/s21_view_qt/SmartCalc2_0
src/s21_view_qt/Makefile
src/s21_view_qt/palette.xml
.gitignore
src/s21_view_qt/palette2.xml
build
src/build-SmartCalc2_0-Desktop_x86_darwin_generic_mach_o_64bit-Release
src/s21_view_qt/main.o
src/s21_view_qt/moc_predefs.h
src/s21_view_qt/moc_qcustomplot.cpp
src/s21_view_qt/moc_qcustomplot.o
src/s21_view_qt/moc_s21_credit_view_qt.cpp
src/s21_view_qt/moc_s21_credit_view_qt.o
src/s21_view_qt/moc_s21_view_qt.cpp
src/s21_view_qt/moc_s21_view_qt.o
src/s21_view_qt/qcustomplot.o
src/s21_view_qt/s21_calc_controller.o
src/s21_view_qt/s21_calc_model.o
src/s21_view_qt/s21_calc_valid_model.o
src/s21_view_qt/s21_credit_view_qt.o
src/s21_view_qt/s21_view_qt.o
src/s21_view_qt/ui_s21_credit_view_qt.h
src/s21_view_qt/ui_s21_view_qt.h
